*{
    padding:1;
    margin: 0.5rem;
    
}

img{
    border-radius: 30em;
    border:rgba(138, 79, 40, 0.979) solid;
    width: 120px;
   
}

h1{
    text-align: center;
    font-family: 'Times Roman';
    font-size: 3rem;
}
h3{
    color: rgba(138, 79, 40, 0.979);
}
body{
    text-align: justify;
    background-color:rgba(176, 193, 207,0.7);
}

.education{
    margin-top: 2em;
   
}
.profile{
    
   margin-top: 1rem;
    
}
/* Applying color, font styles and font sizes for header h4 */
.experience{
    margin-top:2em; 
}
.skills{
        margin-top: 2em;     
}

.technical_skills{
    margin-top: 1em;
}

.soft_skills{
    margin-top: 1em;
}
.senior_accountant{
    margin-bottom: 1em;
}

.data_analysis{
    margin-bottom: 1em;
}
.danalytics{
    margin-top: 1em;    
}
.senior_accountant{
    margin-bottom: 1em;   
}

.pwan_homes{
    margin-top: 1rem;
}
.head_account{
        margin-bottom: 1em;   
}
.phone{
    margin-top: 1rem;
}
.email{
    margin-top: 1rem;
}
.linkedin{
    margin-top: 1rem;
}
.copyright{
    margin-top: 2rem;
}
.hobby{
    margin-top: 1rem;
}

h1{
    color:rgba(138, 79, 40, 0.979);
}
h4{
    color: darkgoldenrod;
}