
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

:root{
    --Dark--: #222831;
    --Green--:#016A70;
    --Light--:#B7B7B7;
}

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins';
    
}


.logo{
    width: 9.375rem;
    height: 2.80863rem;
    flex-shrink: 0;
    margin-top:6.043rem;
    margin-bottom: 6.093rem;
    margin-left: 4.312rem;
    margin-right: 94.312rem;
}
h1{
    color: var(--Dark, #222831);
/* H1 - semibold */
    font-family:Poppins;
    font-size: 3rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
   
}

.email_lab{
    color: var(--Dark, #222831);

/* H5 - semibold */
    font-family: Poppins;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.email_input{
    width: 45.0625rem;
    height: 3.25rem;
    flex-shrink: 0;
    border-radius: 0.5rem;
    border: 2px solid var(--Light, #B7B7B7);
    background: var(--White, #FFF);
}

.pass_lab{
    color: var(--Dark, #222831);
/* H5 - semibold */
    font-family: Poppins;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.pass_input{
    width: 45.0625rem;
    height: 3.25rem;
    flex-shrink: 0;
    border-radius: 0.5rem;
    border: 2px solid var(--Light, #B7B7B7);
    background: var(--White, #FFF);
    
    
}