
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

:root{
    --Dark--: #222831;
    --Green--:#016A70;
    --Light--:#B7B7B7;
}

body{
    padding: 0;
    margin: 0;
    font-family: 'poppins';
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: url(images/bgimage.svg);
    background-repeat: no-repeat;
    background-position-y: -120%;
    width: 108rem;
    

}


.logo{
    width: 9.375rem;
    height: 2.80863rem;
    padding:6.04rem ;
    /* padding: 6.04rem 94.3rem 61rem 4.31rem; */
}
.logintext{
    /* padding: 12.44rem; */
    color: var(--Dark, #222831);
    font-size: 3rem;
    font-weight: 600;
    text-align:right;
    margin: 0 1.25rem;
}

input[type=text]{
    width: 721px;
    display: block;
    border-radius: 0.5rem;
    padding: 0.625rem;
    margin: 0.625rem; 
    border-color: var(--Light--);
}

input[type=password]{
    width: 721px;
    display: block;
    border-radius: 0.5rem;
    padding: 0.625rem;
    margin: 0.625rem;
    border-color: var(--Light--);
   
}

.wrapper{
    width: 750px;
    height: 618px;
    top: 300px;
    left: 760px;
    margin: 0 800px;
    padding: 5.3rem;
    border-radius: 20px;
    box-shadow: 0px 0px 33px 0px rgba(0, 0, 0, 0.25);
    width: 52.125rem;
    height: 38.625rem;
    flex-shrink: 0;
}

.btn[type=submit]{
    width: 15.6875rem;
    height: 3.25rem;;
    display: block;
    border-radius: 0.5rem;
    background: var(--Green, #016A70);
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    margin: 45px 250px;
    justify-content: center;
} 

/* .google{
font-size: 12px;
font-weight: 400;
line-height: 18px;
letter-spacing: 0em;
text-align: left;
}

.facebook{
font-size: 12px;
font-weight: 400;
line-height: 18px;
letter-spacing: 0em; */

}


.facicon{
   display: block;
   margin: 0 auto;
   padding: 0 0 20px;

}
.Gicon{

}
a{
    text-align: right;
    margin-left: 450PX;
}
label[for=email]{
    font-weight: 600;
    padding:10px;
    line-height: normal;
}
label[for=password]{
    font-weight: 600;
    padding:10px;
    line-height: normal;
}